apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-commander
  labels:
    app.kubernetes.io/name: redis-commander
    app.kubernetes.io/instance: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: redis-commander
      app.kubernetes.io/instance: redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: redis-commander
        app.kubernetes.io/instance: redis
    spec:
      containers:
        - name: redis-commander
          image: rediscommander/redis-commander:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOSTS
              value: local:redis:6379
          ports:
            - name: http
              containerPort: 8081
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20

